#getaccess__dialog--h63o1jiuhz {
  width: 40%;
  max-height: 250px;
  margin: 12% auto 0 auto;/*The top margin here is a percentage of the containing width!.*/
  background-color: unset;
  border: solid thin var(--theme-c2);
}
#getaccess__dialog--h63o1jiuhz::backdrop {
  background-color: black;
  opacity: 0.7;
}
.getaccess__header {
  background-color: var(--theme);
  color: var(--theme-c2);
  border: solid medium var(--theme-c1);
  text-align: center;
  padding: 10px 0;
}
.getaccess__header > h3 {
  margin: 0;
}
.getaccess__button {
  width: 10%;
  position: relative;/*Use flex?*/
  inset: 0 45%;
  padding: 10px;
  border: solid medium var(--theme-bgc2);
  color: var(--theme-c);
  background-color: var(--theme-bgc);
}
.getaccess__button:hover {
  border: solid medium var(--theme-c);
  background-color: var(--theme);
  cursor: pointer;
}
.getaccess__button:active {
  color: var(--theme-c2);
  border: solid medium var(--theme-c2);
}
.getaccess__autharticle {
  background-color: var(--theme-bgc);
  padding: 10px;
}
.getaccess__autharticle svg {
  stroke: white;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.getaccess__autharticle :is(h3, h4, h5) {
  margin: 0 auto 5px auto;
  text-align: center;
}
.getaccess__autharticle button {
  padding: 10px 20px;
  margin: 0 10px 0 0;
  background-color: var(--theme);
  color: var(--theme-c2);
}
.getaccess__autharticle input {
  display: inline;
  width: 60%;
}
.getaccess__content > div {
  background-color: var(--theme-bgc2);
  border: thick double var(--theme);
  padding: 4px 0 4px 10%;
  margin: 0 auto;
}
.getaccess__content > div > div:first-child {
  display: inline-block;
  width: 50%;
}
.getaccess__content > div > div + div {
  display: inline-block;
  width: 30%;
}
.getaccess__content input {
  background-color: var(--theme-bgc);
  color: var(--theme-c);
  border: medium outset var(--theme);
  border-radius: 10px;
  width: 100%;
}
.getaccess__content input:hover {
  background-color: var(--theme-c);
  border: medium outset var(--theme-brdr);
  color: var(--theme);
}
.getaccess__content input:active {
  background-color: var(--theme-c2);
  box-shadow: inset 3px 3px 2px 2px var(--theme-bgc2);
  border: medium outset var(--theme);
  color: var(--theme);
}
/*
@media screen and (min-width: 1800px) and (max-width: 2200px) {
  .accessmodal {
    --modal-width: 10vw;
    --modal-index: 10;
    position: absolute;
    top: 45%;
    left: 40%;
    z-index: var(--modal-index, 1);
    width: 100%;
  }
}
*/
