.getaccess__article {
  opacity: 0;
  width: 0;
  height: 0;
}
.getaccess__article--active {
  background-color: unset;
  opacity: 1;
  width: 40%;
  position: fixed;
  inset: 20% 0 0 30%;/*Strange way to center the active article? Works great.*/
  z-index: 2;
  max-height: 200px;
}
.getaccess__header {
  background-color: var(--theme);
  color: var(--theme-c2);
  border: solid medium var(--theme-c1);
  text-align: center;
  padding: 10px 0;
}
.getaccess__header > h3 {
  margin: 0;
}
.getaccess__dimdiv {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0 0;
  z-index: 1;
  opacity: 0.8;
  background-color: black;
}
.getaccess__content > div {
  background-color: var(--theme-bgc2);
  border: thick double var(--theme);
  padding: 4px 0 4px 10%;
  margin: 0 auto;
}
.getaccess__content > div > div:first-child {
  display: inline-block;
  width: 50%;
}
.getaccess__content > div > div + div {
  display: inline-block;
  width: 30%;
}
.getaccess__content input {
  background-color: var(--theme-bgc);
  color: var(--theme-c);
  border: medium outset var(--theme);
  border-radius: 10px;
  width: 100%;
}
.getaccess__content input:hover {
  background-color: var(--theme-c);
  border: medium outset var(--theme-brdr);
  color: black;
}
.getaccess__content input:active {
  background-color: var(--theme-c2);
  box-shadow: inset 3px 3px 2px 2px var(--theme-bgc2);
  color: var(--theme);
}
/*
@media screen and (min-width: 1800px) and (max-width: 2200px) {
  .accessmodal {
    --modal-width: 10vw;
    --modal-index: 10;
    position: absolute;
    top: 45%;
    left: 40%;
    z-index: var(--modal-index, 1);
    width: 100%;
  }
}
*/
