.getaccess__content > div {
  background-color: darkorchid;
  border: thick double forestgreen;
  padding: 4px 0 4px 10%;
  margin: 0 auto;
}
.getaccess__content > div > div:first-child {
  display: inline-block;
  width: 50%;
}
.getaccess__content > div > div + div {
  display: inline-block;
  width: 30%;
}
.getaccess__content input {
  background-color: lightsteelblue;
  color: purple;
  border: medium outset fuchsia;
  border-radius: 10px;
  width: 100%;
}
.getaccess__content input:hover {
  background-color: lightblue;
  border: medium outset purple;
  color: black;
}
.getaccess__content input:active {
  background-color: lightblue;
  box-shadow: inset 3px 3px 2px 2px green;
  color: black;
}
/*
@media screen and (min-width: 1800px) and (max-width: 2200px) {
  .accessmodal {
    --modal-width: 10vw;
    --modal-index: 10;
    position: absolute;
    top: 45%;
    left: 40%;
    z-index: var(--modal-index, 1);
    width: 100%;
  }
}
*/