body {
  margin: 0;
  background-color: var(--theme-bgc1);
}
body > header {
  display: flex;
  flex-direction: row;
  background-color: var(--theme-bgc);
}
header > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  text-decoration: none;
}
header img {
  width: 50px;
}
header p {
  color: var(--theme-c);
  margin: 0;
}
article {
  background-color: var(--theme-bgc1);
  color: var(--theme-c);
}
footer {
  background-color: var(--theme-bgc);
}
footer p {
  margin: 0;
  color: var(--theme-c);
}
